#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--root-bg-color);
}

.app {
  margin: 1.5rem;
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  background-color: var(--app-container-bg-color);
  color: var(--app-container-text-color);
  /* max-width: 1440px; */
  max-width: 1536px;
  /* max-width: 1600px; */
}

.currently-disabled-icon {
  opacity: 0.1;
  pointer-events: none;
  /* cursor: not-allowed; */
}

.app-loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  color: #8696a0;
}
