.message-bar {
  padding: 1rem;
  height: 10%;
  /* height: 80px; */
  max-height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message-bar .message-bar-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-bar .emoji-picker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-bar .message-bar-icon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #415763;
}

.message-bar .message-bar-searchbar {
  width: 85%;
}

.message-bar .message-bar-search-input {
  /* background-color: #415763; */
  background-color: #2a3942;
  height: 2.5rem;
  text-indent: 1rem;
  border-radius: 10px;
  color: #d1d7db;
  width: 100%;
  border: none;
  outline: none;
}

.message-bar .message-bar-search-input:focus {
  border: none;
  outline: none;
}

.message-bar .message-bar-icon {
  position: relative;
}

.message-bar button.message-bar-icon {
  background-color: transparent;
  border: none;
  color: #e9edef;
}

.message-bar .emoji-picker {
  position: absolute;
  bottom: 4rem;
  left: 0;
}

.message-bar .attachment-hidden-input {
  display: none;
}
