.chat-list {
  background-color: #111b21;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.chat-list .header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-list .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-list .sub-header h1 {
  margin: 0;
}

.chat-list .sub-header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.chat-list .sub-header-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-list .sub-header-icon.active-modal {
  background-color: #415763a0;
}

.chat-list .sub-header-icon:hover {
  cursor: pointer;
  background-color: #202c33;
}

.chat-list .sub-header-icon.active-modal:hover {
  background-color: #415763a0;
}

.chat-list .sub-header-icon .add-new-friend {
  transform: scaleX(-1);
  font-size: 1.1875rem;
}

.chat-list .filters {
  display: flex;
  gap: 1rem;
}

.chat-list .filters.searching {
  pointer-events: none;
}

.chat-list .filter {
  background-color: #202c33;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  color: #8696a0;
}

.chat-list .filter:hover {
  cursor: pointer;
  background-color: #41576380;
}

.chat-list .active-filter,
.chat-list .active-filter:hover {
  background-color: #415763;
}

.chat-list .scrollbar-triangle,
.chat-list .scrollbar-triangle-upside-down,
.chat-list .modal-content .scrollbar-triangle,
.chat-list .modal-content .scrollbar-triangle-upside-down {
  margin-right: 0.05rem;
  font-size: 0.4rem;
  color: #222e35;
}
.chat-list .scrollbar-triangle-upside-down,
.chat-list .modal-content .scrollbar-triangle-upside-down {
  margin-bottom: 0.05rem;
}

.chat-list .scrollbar-triangle-upside-down,
.chat-list .modal-content .scrollbar-triangle-upside-down {
  transform: rotate(180deg);
}

.chat-list .filler-container {
  display: flex;
}

.chat-list .horizontal-filler {
  width: 100%;
}

.chat-list .search-form {
  position: relative;
}

.chat-list .search-icon {
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
  color: #e9edef;
  width: 1.5rem;
}

.chat-list .search-form .search-go-back-arrow {
  cursor: pointer;
}

.chat-list .search-input {
  background-color: #202c33;
  height: 2.5rem;
  text-indent: 2.5rem;
  border-radius: 10px;
  color: #e9edef;
  width: 100%;
  border: none;
  outline: none;
}

.chat-list .search-input:focus {
  border: none;
  outline: none;
}

.chat-list .add-new-contact-modal,
.chat-list .add-new-friend-contact-modal,
.chat-list .create-group-modal {
  background-color: #111b21;
  z-index: 10;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #222e35;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.chat-list .create-group-modal .create-group-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.chat-list .create-group-modal .modal-content .submit-button {
  border-radius: 10px;
  padding: 0.5rem;
  width: max-content;
  background-color: #2c2e3b;
  border: none;
  color: white;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-list .create-group-modal .modal-content .submit-button:hover {
  background-color: #415763;
}

.chat-list .add-friend-contact-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-list .add-new-friend-contact-modal .modal-input {
  width: 75%;
}

.chat-list .add-friend-contact-input-container .sub-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-list .add-new-contact-modal {
  top: 20%;
  left: 30%;
  transform: translate(-20%, -17%);
}

.chat-list .add-new-friend-contact-modal {
  top: 20%;
  left: 23%;
  transform: translate(-20%, -17%);
}

.chat-list .create-group-modal {
  top: 20%;
  left: 26.5%;
  transform: translate(-20%, -17%);
}

.chat-list .modal-title {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #222e35;
}

.chat-list .modal-content {
  padding: 1rem;
  border: none;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.5rem;
}

.chat-list .modal-input {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2e3b;
  border: none;
  color: white;
  opacity: 0.8;
}

.chat-list .contacts-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-list .contacts-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.chat-list .contacts-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222e35;
}

.chat-list .searched-contacts {
  display: flex;
  flex-direction: column;
}

.chat-list .searched-contacts .single-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-left: 2px solid #222e35;
  background-color: rgba(42, 43, 51, 0.25);
  color: white;
}

.chat-list .searched-contacts .single-contact:hover {
  background-color: #222e35;
}

.chat-list .searched-contacts .single-contact .avatar-main-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-list .searched-contacts .single-contact .avatar-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.chat-list .searched-contacts .single-contact .select-contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  border-radius: 50%;
}
.chat-list .searched-contacts .single-contact .select-contact-image.no-avatar {
  border: 2px solid #415763;
}

.chat-list .searched-contacts .single-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-list .searched-contacts .single-contact-info div:last-child {
  font-size: 0.7rem;
}

.chat-list .tooltip {
  position: relative;
}

.chat-list .tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #bbbbbb;
  color: #111b21;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  z-index: 1;
  position: absolute;
  top: 125%;
  margin-left: 0.375rem;
}

.chat-list .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 96%;
  left: 46%;
  margin-left: -0.25rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #bbbbbb transparent;
}

.chat-list .tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-list .chat-type-indicator {
  padding-left: 1.5rem;
  color: #8696a0;
}
.chat-list .chat-type-indicator.dms,
.chat-list .chat-type-indicator.groups {
  padding-bottom: 0.5rem;
}
.chat-list .dms-and-group-chats-container {
  overflow-y: auto;
}
.chat-list .dms-and-group-chats-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
.chat-list .dms-and-group-chats-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222e35;
}

/* .chat-list .loading-chat-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  font-size: 2rem;
} */

.chat-list .modal-icon-disabled {
  opacity: 0.5;
  pointer-events: none;
}
