.chats {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  /* margin-bottom: 1.5rem; */
}

.chats:nth-child(2) {
  margin-bottom: 1.5rem;
}

.chats::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.chats::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222e35;
}
